@import 'client/user-feed';

.less-faded{
	color: #444;
}

.faded{
	color: #999;
	font-size: 10px;
}

.fade-color{
	color: #999;
}

.ccc-color{
	color: #333;
}

.inner-elems{
	vertical-align: top;
}

.channels-list{
	display: inline-block;
	width: 230px;
	margin-right: 30px;
}

.channel-name-text{
	font-family: "Open Sans Light";
	font-size: 15px;
	color: #333;
	font-weight: bold;
}

.view-more-comments{
	cursor: pointer;
	text-align: right;

	.text-less{
		display: inline;
	}
	.text-all{
		display: none;
	}

	&.all{
		.text-all{
			display: inline;
		}
		.text-less{
			display: none;
		}
	}
}

.tt-dropdown-menu{
	position: absolute;
	z-index: 1;
	display: block;
	left: 0px;
	top: 36px;
	width: 100%;
	border: 1px solid #ddd;
	border-top: none;
	background: white;

	.tt-suggestion{
		padding: 5px;
		padding-left: 30px;
		border-bottom: 1px solid #ddd;
		cursor: pointer;
	}
}

.channel-container{
	position: relative;

	.channel-name-text{
		width: 100px;
		display: inline-block;
		text-overflow: ellipsis;
		white-space: nowrap;
		overflow: hidden;
		text-align: left;
	}
	.channel-keep-count{
		width: 50px;
		display: inline-block;
		text-align: center;
	}
	.subscribe-action, .unsubscribe-action{
		text-align: center;
		display: inline-block;
		width: 40px;
		cursor: pointer;
	}

	.subscribe-action{
		color: green;
	}

	.unsubscribe-action{
		color: red;
	}
}

.new-channel-name .menus .search{
	width: 100%;
	.new-channel-input{
		padding-left: 10px;
	}

	&::before{
		content: ""
	}
}

.new-channel-name .menus.search-container{
	&::before{
		content: ""
	}
}

.create-channel{
	text-align: center;
	cursor: pointer;
	.fa-plus{
		display: inline;
	}
	.fa-minus{
		display: none;
	}

	&.fade-color{
		.fa-plus{
			display: none;
		}
		.fa-minus{
			display: inline;
		}
	}
}

.choose-org{
	.org-select{
		width: 200px;
	}
}

.submit-new-channel{
	background: rgb(160, 186, 226);
	width: 100px;
	margin: auto;
	color: white;
	text-align: center;
	padding: 5px;
	margin-top: 15px;
	cursor: pointer;
}

.new-background{
	background: white;
	border-radius: 2px;
	box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.2),inset 0 2px 2px 0 rgba(255,255,255,0);
	padding: 10px 15px;
	margin-bottom: 10px;
}

.user-signout{
	position: absolute;
	right: 20px;
	top: 10px;
	cursor: pointer;
}

.create-post-elem{
	position: relative;
	width: 250px;
	display: inline-block;

	.create-post-input-container{
		position: relative;
		margin-top: 20px;

		.change-privacy-flag{
			position: absolute;
			bottom: 8px;
			right: 0px;
			font-size: 18px;
			cursor: pointer;
		}
	}

	.send-post-to-create{
		text-align: center;
		margin-top: 20px;
		margin-bottom: 20px;
		.send-post-to-create-container{
			width: 100px;
			background: rgb(233, 228, 228);
			border-radius: 2px;
			box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.2),inset 0 2px 2px 0 rgba(255,255,255,0);
			margin: auto;
			padding: 5px 10px;
			cursor: pointer;
		}
	}


	.menus .search{
		width: 100%;
	}

	.user-name-info{
		font-size: 18px;
	}
	.user-email-info{
		font-size: 14px;
	}

	.create-post-input{
		font-size: 13px;
		line-height: 20px;
		border: none;
		border-bottom: 1px solid;
		font: 18px "Open Sans Light";

		&:focus{
			border-color: #4378dd;
		}
	}
}
