body.home{
	.feed-list{
		width: 450px;
		display: inline-block;
		margin-right: 20px;

		.feed-container{
			background: white;
			border-radius: 2px;
			box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.2),inset 0 2px 2px 0 rgba(255,255,255,0);
			padding: 10px 15px;
			width: 400px;
			margin-bottom: 20px;
		}

		.feed-header{
			border-bottom: 1px solid #e2e2e2;
			height: 30px;
		}

		.like-icon{
			color: #ea325d;
		}

		.heart-icon-container{
			cursor: pointer;
			.unlike-icon{
				display: none;
			}
			.like-icon{
				display: inline;
			}
		}

		.heart-icon-container.not-like{
			cursor: pointer;
			.like-icon{
				display: none;
			}
			.unlike-icon{
				display: inline;
			}
		}


		.feed-like{
			margin-right: 10px;
		}

		.feed-comment-box{
			margin-top: 5px;
		}

		.user-comment{
			position: relative;

			.user-comment-input{
				height: 20px;
				line-height: 20px;
				padding: 5px;
				margin: 0;
				padding-right: 40px;
			}

			.change-privacy-flag{
				position: absolute;
				right: 11px;
				top: 7px;
			}
		}

		.comment-container-inner{
			margin-bottom: 7px;
		}

		.comment{
			font-size: 13px;
			.commenter-name{
				color: #4378dd;
				font-weight: bold;
			}
		}

		.feed-channel{
			font-size: 12px;
			float: right;
		}

		.feed-text{
			font-size: 18px;
			color: rgb(144, 108, 158);
			margin-bottom: 10px;
		}

		.feed-body{
			padding-top: 15px;
		}

	}
}