- if not @noHeader
	.header
		.menus.menu-wrap
			.icon.menu.fa-bars
		.menus.search-container
			.search
				%input{"type"=>"text", "class"=>"input-search", "id"=>"search", "placeholder"=>"Search Channels", "autocomplete"=>"off"}
		.menus.user-icon
			.icon
