.main-container
	.channels-list.inner-elems
		.create-channel.new-background
			.create-channel-btn
				%span.button-text Create Channel
				%span.icon.fa-plus
				%span.icon.fa-minus
		.create-new-channel.new-background{:style => "display:none"}
			.new-channel-name
				.menus.search-container
					.search
						%input.new-channel-input{"type"=>"text", "class"=>"input-search", "id"=>"search", "placeholder"=>"Choose a name.", "autocomplete"=>"off"}
			.choose-org
				- if @organisations
					%select.org-select
						- for org in @organisations
							%option{:value => org.id} #{org.name}
			.submit-new-channel
				%span.submit-new-btn Submit

		.subscribed-channel-list
			- if @subscribed_channels
				- for channel in @subscribed_channels
					!= JST['client/channel'](channel: channel)

		.unsubscribed-channel-list
			- if @unsubscribed_channels
				- for channel in @unsubscribed_channels
					!= JST['client/unsubscribe_channel'](channel: channel)


	.feed-list.inner-elems
		- if @feeds and @user
			- for feed in @feeds
				.feed-container{:data-feedid => "#{feed.id}", :id => "#{feed.id}"}
					!= JST['client/feed'](feed: feed, user: @user)

	.create-post-elem.inner-elems
		- if @user
			.create-post-container.new-background
				.create-post-header
					.user-info.user-name-info #{@user.name}
					.user-signout.fa-sign-out.icon
					.user-info.user-email-info.less-faded #{@user.email}
				.create-post-input-container
					%textarea.create-post-input{:rows => "1", :cols => "20",  :maxlength => 240, :placeholder => "Create new post"}
					.change-privacy-flag.fa-lock.icon.fade-color{:data-private => "false"}
				.channel-search-box
					.menus.search-container
						.search
							%input.post-create-input-search{"type"=>"text", "class"=>"input-search", "id"=>"search", "placeholder"=>"Choose channel", "autocomplete"=>"off"}
				.send-post-to-create
					.send-post-to-create-container
						%span.send-new-feed Send
						%span.icon.fa-send



