<p id="notice"><%= notice %></p>

<p>
  <strong>Poster:</strong>
  <%= @post.poster_id %>
</p>

<p>
  <strong>Channel:</strong>
  <%= @post.channel %>
</p>

<p>
  <strong>Content:</strong>
  <%= @post.content %>
</p>

<p>
  <strong>Private:</strong>
  <%= @post.private %>
</p>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
