<!DOCTYPE html>
<html  data-placeholder-focus="false" lang='en' <%= yield :html_attr %>>
	<head>
		<meta charset='utf-8'/>
		<meta content='IE=Edge,chrome=1' http-equiv='X-UA-Compatible'/>
		<link rel="stylesheet" href="/assets/all.css"/>
		<link rel="stylesheet" href="/assets/client/main.css">
		<link href='/favicon.png' type="image/png" rel='shortcut icon'/>
		<title> Zero Protocol </title>
		<body class="<%= @site_state %>">
			<%= render 'header' %>
			<div id="container">
				<%= yield %>
			</div>
			<script type="text/javascript">
				var options = {
					host: <%= @host.to_json.html_safe %>,
					port: <%= @port.to_json.html_safe %>
				}
			</script>
			<%= rjs_include_tag("client/app") %>
		</body>
	</head>
</html>